body {
  font-family: "Silkscreen", cursive;
  background-color: black;
  margin: 0;
}

canvas {
  width: 1120px;
  height: 640px;
  border: solid white 4px;
}

.battleInitiatedAnimationBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.WIPText {
  color: white;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.battleMenu {
  position: absolute;
  border: 4px dashed white;
  background-color: black;
  height: 38%;
  width: 40%;
  bottom: 0;
  right: 0;
}

.movesMenu {
  border-bottom: 4px dashed white;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.basicAttackButton {
  font-family: "Silkscreen", cursive;
  color: white;
  background-color: black;
  font-size: larger;
}
.attackTypeBox {
  height: 40%;
  display: grid;
  justify-items: center;
  width: 100%;
}
.attackType {
  color: white;
}
.basicAttackButton:hover {
  font-family: "Silkscreen", cursive;
  background-color: white;
  color: black;
  font-size: larger;
  cursor: pointer;
}

.enemyInfoBar {
  position: absolute;
  top: 40px;
  left: 240px;
  background-color: white;
  border: 4px dashed black;
  padding: 4px;
  width: 400px;
}

.HealthInfo {
  position: relative;
}
.HealthBar {
  height: 2em;
  width: 24em;
  background-color: rgb(12, 12, 12);
}

.HpAmountLeft {
  position: absolute;
  top: 0;
  height: 2em;
  width: 24em;
  background-color: rgb(0, 255, 0);
}

.enemyHealthBar {
  height: 2em;
  width: 24em;
  background-color: rgb(12, 12, 12);
}

.enemyHpAmountLeft {
  position: absolute;
  top: 0;
  height: 2em;
  width: 24em;
  background-color: rgb(0, 255, 0);
}

.playerInfoBar {
  position: absolute;
  bottom: 0;
  left: 0px;
  border: 4px dashed black;
  padding: 4px;
  width: 400px;
  background-color: white;
}

.battleDialogueBox {
  background-color: black;
  border: dashed white 4px;
  color: white;
  position: absolute;
  height: 38%;
  width: 40%;
  bottom: 0;
  right: 0;
  font-size: larger;
  cursor: pointer;
  display: none;
}

.gameManual {
  background-color: black;
  display: flex;
  height: 20em;
  width: 70em;
  border: solid white 4px;
  display: flex;
}
